body {
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  text-align: center;
}

.center {
  margin-top: 100px;
}

.box {
  background: #111827;
  padding: 25px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

#report {
  max-width: 650px;
  margin: 20px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
}
